@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover
}

.fab.fa-twitter {
    color: #8ab7f1
}

.fab.fa-instagram {
    color: #E1306C
}

.fab.fa-facebook-f {
    color: #5999ec
}
