<div class="container pt-2">
    <!-- No data message -->
    <p *ngIf="authors.length <= 0" class="no-data text-center">There is no author added yet!</p>
    <!-- authors list -->
    <div class="data-list">
        <p class="float-end">
            <a routerLink="/add-author" class="btn btn-primary">Add Author</a>
        </p>
        <table class="table table-bordered table-striped table-hover" *ngIf="authors.length > 0">
            <caption>List of authors</caption>
            <thead class="table-primary">
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Family Name</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">Date of death</th>
                    <th scope="col center">Update</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let author of authors; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{author.first_name}}</td>
                    <td>{{author.family_name}}</td>
                    <td>{{author.date_of_birth | date:"MMMM d, y"}}</td>
                    <td>{{author.date_of_death | date:"MMMM d, y"}}</td>
                    <td class="text-center edit-block">
                        <span class="edit me-3" [routerLink]="['/edit-author/', author._id]">
                            <button type="button" class="btn btn-success btn-sm">Edit</button>
                        </span>
                        <span class="delete" (click)="removeAuthor(author._id, i)">
                            <button type="button" class="btn btn-danger btn-sm">Delete</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>